.project {
  padding-top: 100px;
  height: 800px;
}

.image-resize{
  height: 320px;
  width: 100%;
}
.card-resize{
  height: 320px;
  width: 320px;
}


.my-details {
    margin-top: -50px;

    height: auto;
    color: black;
    font-family: 'Mynerve';
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.747);
    margin-right: 4px;
}

@media only screen and (max-width: 786px){
    .project {
      height: 1200px;
    }
    .card-deck{
        flex-direction: row;
        flex-flow: wrap;
        height: 300px;
    }
    .card-deck .card-resize{
    margin-bottom: 10px;
    }
    .container-box{
    display: contents;
    }
}
  
.style {
font-size: 16px;
color: black;
}
.card-title{
  font-size: 1em;
}
  