.mint {
  padding-top: 100px;
  align:center;
  height: 800px;
}

.details {
    margin-top: -50px;
    height: auto;
    color: black;
    font-family: 'Mynerve';
    font-size: 22px;
    flex-flow: wrap;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.747);
    margin-right: 4px;
}
@media only screen and (max-width: 786px){
    .container-box{
       display: contents;
    }
    .mint {
    padding-top:10px;
      height: 900px;
    }
}

